.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 100%;
    padding: 16px;
    background-color: whitesmoke;
}
.sidebar-logo {
    font-size: 16px;
}
.sidebar-icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 12px;
    cursor: pointer;
    user-select: none;
}
.sidebar-header {
    display: flex;
    align-items: center;
    padding: 4px;
}
.sidebar-items {
    display: flex;
    align-items: center;
    padding: 4px 8px;
}
.sidebar-items:hover {
    background-color: lightblue;
    border-radius: 0.25rem;
}
.sidebar-items .item {
    display: flex;
    align-items: center;
    padding: 16px 8px;
    border-radius: 5x;
    transition: background-color 0.2s;
    cursor: pointer;
}
.sidebar-items .item:hover {
    background-color: lightblue;
    border-radius: 0.25rem;
}
/* ---- Collapsed Sidebar CSS ---- */
.Sidebar.collapsed {
    width: 64px;
}
.Sidebar.collapsed .sidebar-icon {
    margin-right: 0;
}
.Sidebar.collapsed .sidebar-items{
    padding: 4px;
}
.Sidebar.collapsed .sidebar-text,
.Sidebar.collapsed .sidebar-logo {
    display: none;
}